h1, h2, h3 {
    font-family: "Grenze", serif;
}
p {
    font-family: "Poppins", sans-serif;
}






/* Custom styles */

body.dark-mode {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .dark-mode .custom-control-label::before {
    background-color: #ffffff;
  }
  
  .dark-mode .custom-control-label::after {
    background-color: #212529;
  }
  
  .dark-mode .custom-control-input:checked~.custom-control-label::before {
    background-color: #212529;
  }
  
  .dark-mode .custom-control-input:checked~.custom-control-label::after {
    background-color: #ffffff;
  }
  